snippet     parallel
	parallel([${1:elements}], function(err, results) {
		if (err)
			return callback(err);

		${2:now what}
	});

snippet     waterfall
	waterfall([${1:elements}], function(err, results) {
		if (err)
			return callback(err);

		${2://Now what};
	});
