snippet     jQueryPlugin
	(function ($) {
		$.fn.${1:nameOfFunction} = function ($2:params}) {
			${0}
		};
	})(jQuery);

snippet     jQueryReady
	$(${1:document}).ready(function () {
		${0}
	});

snippet     jExtendParams
	if (params)
		$.extend(settings, params);

snippet     .click
	.click(function (event) {
		e.preventDefault();
		${0}
	});
